#header {
  text-align: center;
  border: 2px solid black;
}
#footer {
  visibility: hidden;
  border: 2px solid black;
  height: 5vw;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 40% 20%;
  justify-content: space-evenly;
  align-content: space-evenly;
}
#back,
#forward,
#page {
  height: 100%;
  font-size: 70px;
}
#back:before,
#forward:before {
  /*centers arrows vertically within button*/
  content: "";
  vertical-align: middle;
}
#pets-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: space-evenly; /*centers listings horizontally within pets container by creating equal space between them. DONT USE GAPS W THIS*/
  justify-items: center; /*centers pet info horizontally within listing*/
  align-content: space-evenly;
  align-items: center; /*centers listings vertically within pets container*/
}
.pet-listing {
  text-align: center;
  justify-items: center;
  border: grey solid 1px;
  width: 90%;
  /* padding: 1rem;
  width: 15rem;
  height: 25rem; */
  /* display: inline-grid; */
  margin: 1rem 2rem;
  box-shadow: 3px 4px grey;
  /*#e04b52*/
}
.imgdiv {
  width: 10vw;
  height: 10vw;
  border: 1px solid blue;
  margin: auto; /*centered img div within listing by creating equal margins on both sides*/
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
details {
  margin: 1em 0px; /*default <p> margins*/
}
