body {
  height: 100vh;
}
#header {
  text-align: center;
  border: 2px solid black;
}
#footer {
  visibility: hidden;
  border: 2px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 40% 20%;
  justify-content: space-evenly;
  align-content: space-evenly;
}
#back,
#forward,
#page {
  height: 100%;
  font-size: 60px;
}
#back:before,
#forward:before {
  /*centers arrows vertically within button*/
  content: "";
  vertical-align: middle;
}
#pets-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: space-evenly; /*centers listings horizontally within pets container by creating equal space between them. DONT USE GAPS W THIS*/
  justify-items: center; /*centers pet info horizontally within listing*/
  align-content: space-evenly;
  align-items: center; /*centers listings vertically within pets container*/
  gap: 1rem;
  padding: 1rem;
}
.pet-listing {
  text-align: center;
  justify-items: center;
  border: grey solid 1px;
  width: 90%;
  box-shadow: 3px 4px grey;
}
.ptop,
.pbottom {
  display: flex;
  /* grid-template-columns: 70% 30%; */
  justify-content: space-around;
}
.imgdiv {
  aspect-ratio: 1/1;
  width: 50%;
  max-height: 50%;
  border: 1px solid blue;
  display: flex;
  justify-content: center; /*horizontally centers image within imgdiv*/
  align-items: center; /*vertically centers image within imgdiv WITHOUT stretching to fit*/
  margin: auto; /*centered img div within listing by creating equal margins on both sides*/
}
img {
  max-width: 100%;
  max-height: 100%;
}
details,
.ptop,
.pbottom {
  margin: 1em 0px; /*default <p> margins*/
}
